---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Time24 Playhouse">
  <main>
    <article class="region prose wrapper hero">
      <h1>time24 playhouse</h1>
      <h2>
        An art form of its own.
      </h2>
      <h3>Located in <b>Truth Or Consequences, New Mexico.</b></h3>
	    <p>TIME24 PLAYHOUSE aims to be a unique art form. Its purpose is to share stories, each designed to create a play, an event, or a gathering. Art needs public acceptance, and the public should be exposed to diverse creativity to choose their preferred entertainment.</p>

      <p>Our goal is to create theater that is performed not only on traditional stages but also in smaller, intimate spaces like art galleries. This involves amateurs, professional actors, and the audience as performers. We strive to find a connection between visual and performing arts, which is not yet developed in our community.</p>

	    <p>We are located in the city of Truth or Consequences, known for its visual arts tradition. With art galleries, monthly Art Hops, and continuous events under the Sierra Arts Counsel, we have the opportunity to try new theatrical endeavors. We hope to appeal not only to the local art community but also to a broader, diverse audience.</p>

      <img src="public/images/DSC02466.jpg">
      <h3>Who Are We?</h3>
      <p>"We" refers to anyone interested in expressing themselves through a play. The physical appearance of a character is less important than the ability to convey their emotions, thoughts, challenges, and victories.</p>

      <p>To bring the audience closer to the performers, traditional costumes and makeup are not necessary. They can be replaced by symbolic ways to represent a character's physicality. For instance, traditional wings can be replaced with sheer materials, and trees can be represented by decorated branches.</p>

      <p>We believe in various forms of expression like monologues, dialogues, art, science, and music to reflect on life's fundamentals like love, friendship, kindness, longevity, insecurity, strength, and bravery.</p>

      <p>Our work is performed by community volunteers. We don't rely on large funders or membership dues. Instead of a Board, decisions are made collectively by those involved in the play.</p>
      <h3>Get Involved</h3>
      <p>Coming soon!</p>
      <h3>Contact</h3>
      <p>Coming soon!</p>
    </article>
  </main>
</Layout>
